<div class="main-chart-card skeleton-container">
  
    <div class="filter_section">
      <div class="skeleton-pulse dropdown-skel"></div>
      <div class="date-filter_wrap">
        <div class="skeleton-pulse btn-skel"></div>
        <div class="skeleton-pulse btn-skel"></div>
        <div class="skeleton-pulse btn-skel"></div>
      </div>
    </div>
  
    <div class="chart-header">
      <div class="title-wrapper">
        <div class="skeleton-pulse img-skel"></div>
        <div class="skeleton-pulse h2-skel"></div>
      </div>
      
      <div class="price price-skel-wrapper">
        <div class="skeleton-pulse h3-skel"></div>
        <div class="skeleton-pulse trend-skel"></div>
      </div>
    </div>
  
    <div class="canvas-wrapper">
      <div class="skeleton-pulse canvas-skel"></div>
    </div>
    
</div>