<div class="bought-table_wrap">
    @if ( boughtCoins() && boughtCoins()?.length ) {
        <div class="table-container">

            <div class="table-title_wrap">
                <h3 class="table-title">
                    Owned Coins
                </h3>
            </div>
            
            <data-table-component [columns]="boughtCoinsTableColumns" [data]="boughtCoins()">
    
                <ng-template appTableColumn="coin" let-row="row">
                    <div class="assets">
                        <div class="icon-wrapper">
                            <img [ngSrc]="row.img" alt="logo" fill class="coin-icon" />
                        </div>
                        <span>{{ row.coin_symbol | uppercase}}</span>
                    </div>
                </ng-template>
    
                <ng-template appTableColumn="buy_price" let-value>
                    <span class="buy_price">
                        ${{ value | number: '1.2-4' }}
                    </span>
                </ng-template>
    
                <ng-template appTableColumn="current_price" let-value>
                    <span [priceHighlight]="value">
                        ${{ value | number: '1.2-4' }}
                    </span>
                </ng-template>
    
                <ng-template appTableColumn="amount" let-value>
                    {{ value | number: '1.2-3' }}
                </ng-template>
    
                <ng-template appTableColumn="profitLoss" let-row="row">
                    <span [priceHighlight]="(row.buy_price | benefitIndicator: row.current_price)">
                        ${{ row.buy_price | benefitIndicator: row.current_price }}
                    </span>
                </ng-template>
    
                <ng-template appTableColumn="actions" let-row="row">
                    <ui-button
                    color="error"
                    variant="filled"
                    size="small"
                    (onClick)="onSell.emit(row)"
                    >
                        Sell
                    </ui-button>
                </ng-template>
    
            </data-table-component>
        </div>
    }
    @else {
        <div class="portfolio-overlay">
          <div class="overlay-icon">🪙</div>
          <h3>Your active coins will appear here</h3>
          <p>You currently hold 0 coins. Start trading to track your portfolio.</p>
        </div>
      }
</div>