<div class="top-performers-content_wrap">
    <h3 class="table_title">
        Top Exchanges
    </h3>

    <div class="table-container">
        <data-table-component [columns]="topExchangesColumns" [data]="data()">
        
            <ng-template appTableColumn="name" let-row="row">
                <div class="assets">
                    <span>
                        {{ row.trust_score_rank }}
                    </span>
                    <div class="icon-wrapper">
                        <img [ngSrc]="row.image" alt="logo" fill class="coin-icon" />
                    </div>
                    <span>{{ row.name }}</span>
                </div>
            </ng-template>

            <ng-template appTableColumn="trust_score" let-value>
                {{ value }}
            </ng-template>

            <ng-template appTableColumn="trade_volume_24h_btc" let-value>
                <span class="daily_changes">
                    {{ value | number: '1.0-0' }}BTC
                </span>
            </ng-template>
            
            <ng-template appTableColumn="country_year" let-row="row">
                {{ row.country }} / {{ row.year_established }}y
            </ng-template>
            
        </data-table-component>
    </div>
</div>