.dashboard_wrap {
  width: 100%;
  min-height: 100vh;
  padding: 30px 18px;
}

.dashboard-content_wraper {
  display: grid;
  grid-template-columns: 6fr 4fr; 
  grid-template-rows: auto auto;
  grid-template-areas:
    "top-left right-tall"
    "bottom-left right-tall";
  gap: 16px;
  margin-top: 20px;
}

.box {
  background: var(--bg-card);
  color: white;
  padding: 20px;
  border-radius: 10px; 
  min-height: 440px;
  overflow: hidden;
}

.box1 {
  grid-area: top-left;
}

.box3 {
  grid-area: bottom-left;
}

.box2 {
  grid-area: right-tall;
}

@media (max-width: 1280px) {
  .dashboard-content_wraper {
    padding-right: 0px;
    grid-template-columns: 1fr;
    
    grid-template-areas:
      "top-left"
      "bottom-left"
      "right-tall";
  }
}