<div class="login-wrapper">
    <div class="login-container">
      <div class="brand-header">
        <logo-icon [size]="65" color="dark" />
        <h1>Log in</h1>
        <p>Welcome back, trader.</p>
      </div>
  
      <form class="login-form" 
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      >
        <div class="input-group">
          <label for="email">Email Address</label>
          <auth-input 
          placeHolder="Enter your email..."
          typeAs="email"
          formControlName="email"
          />
          @if ( form.hasError('invalidLogin') ) {
            <small>Invalid email or password. Please try again.</small>
          }
        </div>
  
        <div class="input-group">
          <label for="password">Password</label>
          <auth-input 
          placeHolder="Enter your password..."
          typeAs="password"
          formControlName="password"
          />
          @if ( form.hasError('invalidLogin') ) {
            <small>Invalid email or password. Please try again.</small>
          }
        </div>
  
        <div class="form-actions">
          <label class="remember-me">
            <input 
            type="checkbox" 
            (change)="check($event)" 
            [checked]="isChecked()"
            > Remember me
          </label>
          <a routerLink="#" class="forgot-password">Forgot password?</a>
        </div>
  
        <ui-button 
        variant="filled"
        color="primary"
        size="big"
        type="submit"
        [fullWidth]="true"
        [disabled]="pending()"
        >
        Sign in
        </ui-button>
      </form>
  
      <div class="signup-prompt">
        Don't have an account? <a routerLink="/auth/register">Sign up here</a>
      </div>
      <div class="back-home">
        <a routerLink="/dashboard">← Back to Dashboard</a>
      </div>
    </div>
  </div>