<aside 
class="sidebar-wrap"
[class.open]="!isDesktop()"
>
    <div>
        <div class="sidebar_title">
            <logo-icon [size]="30"  color="light"/>
            <span class="brand-title">CoinUniverse</span>
        </div>
        <nav class="sidebar_nav">
            @for ( nav of navigation; track nav ) {
                <a class="nav_link" [href]="nav.navTitle">
                    <ng-container
                     *ngComponentOutlet="nav.icon; inputs: { size: 24, color: 'light' }">
                    </ng-container>
                    <span>
                        {{ nav.navTitle }}
                    </span>
                </a>
            }
        </nav>
    </div>
    <div class="auth_nav">
        @if ( isUserLoggedIn() ) {
            <button class="auth_btn">
                Log out
            </button>
        }@else {
            <button class="auth_btn" (click)="navToLoginPage()">
                <login-icon color="light" [size]="24"/>
                <span>
                    Log in
                </span>
            </button>
        }
    </div>
</aside>