.sidebar-wrap{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;

    background-color: var(--bg-card);
    width: 300px;
    height: 100%;
    padding: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_title{
    display: flex;
    align-items: center;
    gap: 4px;
}

.open {
    animation: slideSidebar 0.3s ease-out forwards;
}

.brand-title{
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1px;
    background: linear-gradient(135deg, #60a5fa 11%, #bae6fd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.sidebar_nav{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav_link{
    text-decoration: none;
    cursor: pointer;
    color: var(--text-nav);

    border-radius: 6px;
    height: 42px;
    padding: 24px 10px;
    font-size: 18px;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: transform 0.3s ease;
}

.auth_nav{
    height: 42px;
    display: flex;
    align-items: center;
    padding: 24px 10px;
    border-top: 1px solid var(--text-nav);
    color: var(--text-nav);
    font-size: 18px;
}

.auth_btn{
    all: unset;
    gap: 16px;
    display: flex;
    cursor: pointer;
}


@media (hover:hover) and (pointer:fine) {
    .nav_link:hover{
        background-color: rgba(255, 255, 255, 0.107);
        color: var(--text-primary);
        transform: translateX(5px);
    }
}


@keyframes slideSidebar {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}