<aside 
[class]="!isDesktop() ? ' sidebar-wrap open' : 'sidebar-wrap'"
>
    <div>
        <div class="sidebar_title">
            <logo-icon [size]="30"  color="light"/>
            <span class="brand-title">CoinUniverse</span>
        </div>
        <nav class="sidebar_nav">
                <a class="nav_link">
                    <dashboard-icon color="light" [size]="24"/>
                    Dashboard
                </a>
                <a class="nav_link">
                    <portfolio-icon color="light" [size]="24"/>
                    Portfolio
                </a>
                <a class="nav_link">
                    <market-icon color="light" [size]="24"/>
                    Markets
                </a>
                <a class="nav_link">
                    <chart-icon color="light" [size]="24"/>
                    Charts
                </a>
                <a class="nav_link">
                    <notification-icon color="light" [size]="24"/>
                    Notifications
                </a>
                <a class="nav_link">
                    <settings-icon color="light" [size]="24"/>
                    Settings
                </a>
        </nav>
    </div>
    <div class="auth_nav">
        <a>
            Login
        </a>
    </div>
</aside>