<header class="header" id="header">
    <div>
        @if ( isDesktop() ) {
            <span class="header_title">
                {{ headerTitle$ | async | titlecase}}
            </span>
        }@else {    
            <div>
                <logo-icon [size]="40" (click)="navToMainPage()"/>
                @if ( isSidebarOpen() ) {
                    <div class="sidebar-modal"
                    (click)="close()"
                    >
                        <app-dashboard-sidebar 
                        (click)="$event.stopPropagation()"
                        ></app-dashboard-sidebar>
                    </div>
                }
            </div>
        }
    </div>
    <div>
        @if ( isDesktop() ) {
            <div class="desktop-actions_wrap">
                <div class="auth-actions">
                    @if ( !isUserLoggedIn() ) {
                        <button routerLink="auth/login">Log in</button>
                        <button routerLink="auth/register">Sign up</button>
                    }@else {
                        <button (click)="logout()">Log out</button>
                    }
                </div>
                <div class="profile-icon_wrap">
                    <profile-icon color="light" [size]="27" (onClick)="navToProfile()"/>
                </div>
            </div>
        }@else {
            <profile-icon color="light" [size]="30" (onClick)="navToProfile()"/>
        }
    </div>
</header>