<div class="main-chart-card">
    @if ( combinedData(); as cd ) {
      <div class="filter_section">
  
        <filter-dropdown 
        placeholder="Bitcoin"
        [options]="cd.topCoins.topValues"
        />
  
        <div class="date-filter_wrap">
            <button class="date-filter_button">1d</button>
            <button class="date-filter_button">1w</button>
            <button class="date-filter_button">1m</button>
        </div>
  
    </div>
    @if ( cd.selectedCoin; as selectedCoin ) {
        <div class="chart-header">
  
            <div class="title-wrapper">
              <img [ngSrc]="selectedCoin.image" alt="coin" width="32" height="32" />
              <h2>
                {{ selectedCoin.name }}
              </h2>
              <span class="badge">{{ selectedCoin.symbol | uppercase }}</span>
            </div>
            <div class="price">
                <h3>
                    ${{ selectedCoin.current_price | number: '1.2-6' }}
                </h3>
              <span class="trend up">
                {{ selectedCoin.price_change_percentage_24h | number:'1.2-2' }}%
              </span>
            </div>
  
      </div>
    }
      <main-chart [data]="perDayPrice()"></main-chart>
      
    }@else {
      <chart-skeleton></chart-skeleton>
    }
    
    </div>