<div class="table-container">
    @if ( data(); as data ) {
    <table class="minimal-table">
      <thead>
        <tr>
          @for (col of columns(); track col.key) {
            <th>{{ col.label }}</th>
          }
        </tr>
      </thead>
      <tbody>
          @for (row of data; track $index) {
            <tr>
              @for (col of columns(); track col.key) {
                <td>
                  @if (getTemplate(col.key); as customTpl) {
                    <ng-container *ngTemplateOutlet="customTpl; 
                    context: { $implicit: row[col.key], row: row }"
                    ></ng-container>
                  } @else {
                    {{ row[col.key] }}
                  }
                </td>
              }
            </tr>
          }
        </tbody>
    </table>
    }
    @else {
        <table-skeleton></table-skeleton>
    }
  </div>