<div class="top-performers-content_wrap">
    <h3 class="table_title">
        Top Cryptocurrencies
    </h3>

    <data-table-component [columns]="topPerformanceColumns" [data]="top100Coins()">
        
        <ng-template appTableColumn="asset" let-row="row">
            <div class="assets">
                <div class="icon-wrapper">
                    <img [ngSrc]="row.image" alt="logo" fill class="coin-icon" />
                </div>
                <span>{{ row.symbol | uppercase}}</span>
            </div>
        </ng-template>

        <ng-template appTableColumn="current_price" let-value>
            <span class="price-cell"
            [priceHighlight]="value"
            >
                ${{ value | number: '1.2-6' }}
            </span>
        </ng-template>

        <ng-template appTableColumn="price_change_percentage_24h" let-value>
            <span class="daily_changes" BenefitIndicator>
                {{ (value | number: '1.2-2') || '0.00' }}%
            </span>
        </ng-template>

        <ng-template appTableColumn="market_cap" let-value>
            ${{ value | abbreviateNumber }}
        </ng-template>
    
    </data-table-component>

</div>