.dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
  .dropdown__selected {
    padding: 10px 12px;
    border: 1px solid var(--secondary);
    background: var(--bg-card);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }

  .dropdown__selected::after{
    content: "▾";
    margin-left: 10px;
  }
  
  .dropdown__list {
    min-width: 100%;
    position: absolute;
    top: 100%;
    max-height: 180px;

    border: 1px solid var(--secondary);
    background: var(--bg-card);
    color: var(--text-muted);

    font-size: 14px;
    border-radius: 8px;
    z-index: 1000;
    list-style: none;
    margin-top: 4px;
    overflow-y: auto;
  }
  
  .dropdown__item {
    padding: 10px 12px;
  }
  
  .dropdown__item:hover {
    background: #f2f2f211;
  }
  

  .icon-wrapper {
    position: relative; 
    width: 24px;
    height: 24px;
  }
  
  .coin-icon {
    object-fit: contain; 
    border-radius: 50%;
  }